<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b2ac543164.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark container-fluid">
      <div class="header row px-1 py-4">
          <p class="col-2">
            <%= link_to "Bookers", root_path %>
          </p>
        <div class="col-6 offset-4">
          <div class="row">
            <% if user_signed_in? %>
              <div class="col">
                <div><%= link_to "Home", user_path(current_user.id) %></div>
              </div>
              <div class="col">
                <div><%= link_to "Users", users_path %></div>
              </div>
              <div class="col">
                <div><%= link_to "Books", books_path %></div>
              </div>
              <div class="col">
                <div><%= link_to "Log out", destroy_user_session_path, method: :delete %></div>
              </div>
            <% else %>
              <div class="col">
                <%= link_to "Home", root_path %>
              </div>
              <div class="col">
                <%= link_to "About", about_path %>
              </div>
              <div class="col">
                <%= link_to "Sign up", new_user_registration_path %>
              </div>
              <div class="col">
                <%= link_to "Log in", new_user_session_path %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>
    <footer class="text-center">
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
